services:
  mongodb:
    image: mongodb/mongodb-community-server:7.0-ubi8
    container_name: fingerprint-mongodb
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  mqtt:
    image: eclipse-mosquitto:2.0
    container_name: fingerprint-mqtt
    ports:
      - "1883:1883"
      - "9001:9001"
      - "8883:8883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./passwd:/mosquitto/config/passwd 
      - ./certs:/mosquitto/config/certs
    restart: unless-stopped

  api:
    container_name: fingerprint-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - mqtt
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped

volumes:
  mongodb_data: